.mission {
  width: 1600px;
  margin: 0 auto;
  height: 1022px;
  background-color: #eef4fa;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 34px;
  .topleft {
    width: 100%;
    & h6 {
      margin-top: 130px;
      margin-left: 160px;
      color: #282938;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
    }
    & h3 {
      color: #282938;
      width: 623px;
      margin-left: 160px;
      font-family: Poppins;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
    }
    & p {
      width: 623px;
      color: #282938;
      margin-left: 160px;
      opacity: 0.7;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .topright {
    margin-top: 128px;
    margin-left: 106px;
  }
  .buttomleft{
    margin-left: 160px;
    margin-top: 20px;
  }
  .buttomright{
    margin-top: 80px;
    & h6 {
        color: #282938;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }
      & h3 {
        color: #282938;
        width: 623px;
        font-family: Poppins;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
      }
      & p {
        width: 623px;
        color: #282938;
        opacity: 0.7;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
  
  }
}
